body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 5.0em;
  color: #0d0d0d;
  line-height: 48px;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 10px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3, 
h4, 
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #000;
  line-height: 28px;
}

#skills-h3 {
  color: #000;
  display: none;
}

.role {
    display: block;
    font-size: 3.0em;
    text-align: center;
    padding-bottom: 15vh;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #000;
}

.white-text {
  font-weight: bold;
  color: #D8D8D8;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #797878;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
  height: 100vh;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

#software ul {
  display: -webkit-flex;
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  padding-bottom: 50px;
}

#softItems li img {
    width: 100px;
    display: block;
    height: 100px;
    margin: 10px;
    text-align: center;
}

.softName {
    position: absolute;
    background: #827D7D;
    padding: 7px;
    text-align: center;
    border-radius: 10px;
    width: 140px;
    display: none;
}

#softItems li img:hover + .softName {
    display:block;
}

#language ul {
  display: -webkit-flex;
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  padding-bottom: 50px;
}

#langItems li img {
    width: 100px;
    display: block;
    height: 100px;
    margin: 10px;
    text-align: center;
}

#langItems li img:hover + .softName {
    display:block;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
   
  }
    #name {
        padding-top: 10vh;
    }
  h1 {
    font-size: 3.5em;  
  }

  .role {
    font-size: 2.5em;
    padding-bottom: 10vh;
  }
}
@media only screen and (max-width: 370px) {
    .welcome-message {
        display: none;
        
    }
}
#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
